.MFAVerification{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.otpContainer{
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 100%;
}
.otpInput{
  width: 20px;
  height: 3rem;
  border: none;
  outline: none;
  background-color: rgb(222, 222, 222);
  border-radius: 8px;
  padding: 10px;
  flex: 1;
  text-align: center;
}
.otpText{
  font-size: 12px;
  align-self: center;
  width: 80%;
  /* style={{ fontSize: "12px", alignSelf: "center", width: "80%" }} */
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}