.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.infoLabel {
  font-size: 15px;
  color: #8a8a8a;
  margin: 6px 5px;
}

.infoInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  /* outline: 1px solid rgba(205, 209, 238, 0.92); */
  background-color: #e1e0e0;
  border: 0px solid;
  color: rgb(68, 64, 64);
}

.infoInput:focus {
  outline: none;
}

.title {
  color: #2B3674;
  font-weight: 600;
}

.descriptioin {
  font-size: 18px;
  color: #A3AED0;
}

.short {
  text-align: center;
  font-size: 14px;
}

#checkboxLabel {
  font-size: 13px;
  color: rgb(42, 42, 102);
  margin: 2px 4px;
  align-self: center;
}

.container {
  margin: 30px 40px;
  width: 60%;
}

.textQuery {
  font-size: 14px;
  margin-top: 5px;
  color: rgb(42, 42, 102);
}

#select {
  padding: 5px;
}

.textSpan {
  cursor: pointer;
  font-size: 13px;
  color: rgb(75, 75, 235);
  font-weight: bold;
}

.textSpan2 {
  cursor: pointer;
  font-size: 13px;
  color: rgb(75, 75, 235);
  font-weight: bold;
}

.faIcon {
  margin-left: -30px;
  color: grey;
}

.googleButton {
  width: 100% !important;
  text-align: center !important;
  box-shadow: none !important;
  background-color: #F4F7FE !important;
  border-radius: 10px !important;
  color: rgb(42, 42, 102) !important;
  font-weight: 600 !important;
  display: flex !important;
  justify-content: center !important;
}


.seperator {
  width: calc((100%/8) * 3.5);
  margin: 0px 10px;
}

.diffSep {
  height: 1px;
  border: none;
  background: #666;
}