.ForgotPassword {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.infoLabel {
    font-size: 15px;
    color: #2B3674;
    margin: 6px 5px;
    font-weight: bold;
}

.infoInput {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    /* outline: 1px solid rgba(205, 209, 238, 0.92); */
    background-color: #e1e0e0;
    border: 0px solid;
    color: rgb(68, 64, 64);
}

.infoInput:focus {
    outline: none;
}
.title{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif; 
}